.form {
    display: flex;
    flex-direction: column;
    
    *:not(.SingleDatePicker):not(.DateInput):not(.DateInput_input_1):not(button){
        margin-bottom: $m-size;
    }
}

.form__error{
    margin: 0 0 $m-size 0;
    font-style: italic;
}
