//Colors
$dark-grey: #333;
$light-grey: #666;
$remove-grey: #888;
$blue: #1c88bf;
$white: #fff;
$dark-blue: #364051;

//Font sizes
$font-size-large: 1.8rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


